@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b2240;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 30em;
}
.head__section img{
    display: block;
    margin: 0 auto;
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
.head__section h3{
    font-size: 1.7rem;
    text-align: center;
    color: #fbffc2;
}
.head__section p{
    text-align: center;
    color: #fff;
}
.footer__section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__section img{
    width: 80px;
}
.social__links ul li{
    width: 100%;
    margin: 1.2rem 0;
    padding: 1.2rem 0.8rem;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 0px );
    border-radius: 5px;
    transition: background 0.25s;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 0 0.8rem  rgba(255, 255, 255, .12);
}
.social__links ul li:nth-child(2){
    width: 100%;
    margin: 1.2rem 0;
    padding: 1.2rem 0.8rem;
    background: linear-gradient(to top, #c0b35f, #fcfeca);
    backdrop-filter: blur( 0px );
    border-radius: 5px;
    transition: background 0.25s;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 0 0.8rem  rgba(255, 255, 255, .12);
}

.social__links ul li a{
    width: 100%;
    display: flex;
    align-items: center;
    color: #fbffc2;
    font-size: 1rem;
}
.social__links ul li a img{
    width: 18%;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.4);
    transition: 0.25s;
    padding-left: 10px;
    padding-right: 30px;
}
.js-tilt-glare{
    border-radius: 5px;
}
.social__links ul li a span{
    line-height: 1.4rem;

}
.social__links ul li a span h3{
    font-size: 4vw;
    font-weight: 200 !important;
}
.social__links ul .set1:hover{
    background: #c4b865;
}
.social__links ul li a:hover{
    color: #000;
}
.social__links ul .set2:hover{
    background:#c4b865;
}
@media only screen and (max-width: 549px) {
    .container{
        width: 88vw;
    }
}
@media only screen and (min-width: 549px) {
    .social__links ul li a img{
        width: 15%;
    }
    body{
        background-size: cover;
    }
    .social__links ul li a span h3{
        font-size: 1.3vw;
    }
}